html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: #1f2937;
    display: flex;
    flex-direction: column;
    color: #f9faf8;
    flex: 1;
}

.link-logo{
    font-size: 24px;
    font-weight: 800;
}


.header {
    color: #f9faf8;
    padding: 25px 300px;
}

.nav-list{
    display: flex;
    margin: 0;
    justify-content: flex-end;
    align-items: center;
    padding: 0;
}

a{
    color: inherit;
    text-decoration: none;
}

li{
    list-style-type: none;
    margin: 1em;
}

.link{
    font-size: 18px;
    color: #E5E7EB;
}

li:first-child {
    margin-right: auto;
    margin-left: 0;
}

.main-content{
    margin-top: 135px;
    display: flex;
    padding: 25px 300px;
    display: flex;
    justify-content: space-between;
}

.first-content{
    width: 400px;
}

.text{
    font-size: 48px;
    margin: 0;
}

.subtext{
    word-wrap: break-word;
    margin: 0;
    padding-top: 5px;
}

button{
    background-color: #3882F6;
    border-radius: 5px;
    margin-top: 1em;
    padding: 5px;
    width: 130px;
    height: 37px;
    border: none;
    font-family: inherit;
    color: inherit;
    font-size: 16px;
    font-weight: bold;
}

.image-example{
    width: 500px;
    height: 235px;
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
}
