html {
    box-sizing: border-box;
    margin: 0; /* margin: 0 and padding: 0 used to make background color full width*/
    padding: 0; 
}

*, *:before, *:after {
    box-sizing: inherit;
}

@font-face{
    font-family: 'Roboto';
    src: url(fonts/Roboto-Regular.ttf)
}

@font-face{
    font-family: 'Roboto Light';
    src: url(fonts/Roboto-Light.ttf)
}

@font-face{
    font-family: 'Roboto Bold';
    src: url(fonts/Roboto-Bold.ttf)
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: #1f2937;
    display: flex;
    flex-direction: column;
    color: #f9faf8;
    flex: 1;
    margin: 0; /* margin: 0 and padding: 0 used to make background color full width*/
    padding: 0;
}

.link-logo{
    font-size: 24px;
    font-weight: 800;
}


.header {
    color: #f9faf8;
    padding: 25px 300px;
}

.nav-list{
    display: flex;
    margin: 0;
    justify-content: flex-end;
    align-items: center;
    padding: 0;
}

a{
    color: inherit;
    text-decoration: none;
}

li{
    list-style-type: none;
    margin: 1em;
}

.link{
    font-size: 18px;
    color: #E5E7EB;
}

li:first-child {
    margin-right: auto;
    margin-left: 0;
}

.main-content{
    margin-top: 135px;
    display: flex;
    padding: 25px 300px;
    display: flex;
    justify-content: space-between;
    height: 450px;
}

.first-content{
    width: 400px;
}

.text{
    font-family: 'Roboto Bold';
    font-size: 48px;
    margin: 0;
}

.subtext{
    word-wrap: break-word; /*this is to wrap text*/
    margin: 0;
    padding-top: 5px;
}

button{
    background-color: #3882F6;
    border-radius: 5px;
    margin-top: 1em;
    padding: 5px;
    width: 130px;
    height: 37px;
    border: none;
    font-family: inherit;
    color: inherit;
    font-size: 16px;
    font-weight: bold;
}

.image-example{
    width: 500px;
    height: 235px;
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
}

.random-info{
    background-color: #ffffff;
    color: #1f2937;
    text-align: center;
    width: 100%;
    height: 500px;
}

.info{
    font-family: 'Roboto BOld';
    font-weight: bolder;
    margin-top: 50px;
}

.random-boxes{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 0;
    flex: 1;
}

.box{
    width: 160px;
    height: 160px;
    border: 5px solid #3882F6;
    border-radius: 15px;
}

.random-container{ /* adding this so text and box can align */
    width: 160px;
    margin: 2em;
}

.quote{
    background-color: #E5E7EB;
}

.quote-container{
    width: 820px;
    height: 152px;
    margin: auto;
    margin-top: 140px;
    margin-bottom: 12px;
}

em{
    font-family: 'Roboto Light';
    font-size: 36px;
    color: black;
}

strong{
    color: black;
}
